@layout('layouts.rightSidebar')


@section('page-content')
    <h1>Contact Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, consequatur nobis? Quae ipsam corrupti unde, minus libero dolore illo rerum inventore. Provident, nemo tenetur ducimus laudantium facilis facere. Repellendus, eum.</p>
@endsection